.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
  }

.form-container {
    margin-top: 20px;
  }

  .form-group {
    margin-bottom: 20px;
  }

  .form-group label {
    font-weight: bold;
  }

  .form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .checkbox-label {
    font-weight: normal;
    margin-left: 5px;
  }

  .submit-button {
    margin-top: 10px;
  }